#carousel { margin: 0 auto; margin-top: 150px; height: 600px; width: 1000px; border: 2px solid black; overflow: hidden; }

.carousel-list { margin: 0; padding: 0; width: 6000px; }

.carousel-list-item { list-style-type: none; width: 1000px; float: left; }
/*# sourceMappingURL=style.css.map */